.profile {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: #c8e9ff;
	min-width: 320px;
	max-width: 480px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

.description {
	margin: 0;
	padding: 0;

}

.avatar {
	width: 160px;
	border-radius: 50%;
	margin-top: 25px;
	background: #fcf790;
}

.name {
	margin: 10px;
	font-size: 30px;
	font-weight: 900;
}

.tag {
	font-size: 22px;
	color: #547183;
	margin: 10px;
}

.location {
	font-size: 22px;
	color: #547183;
	margin: 10px;
}

.stats {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 25px;
	border-top: solid #fcf790;

}

.label {
	display: flex;

	font-size: 22px;
	color: #547183;

}

.quantity {
	font-size: 20px;
	font-weight: 900;
}