.statistics {

	display: flex;
	flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	min-width: 320px;
	max-width: 480px;
	background-color: #c8e9ff;
	text-align: center;
	border-top: solid #fcf790;
	margin: 0 auto;
}

.title {
	margin-top: 10px;
	margin-bottom: 0;
}

.stat-list {
	padding: 0;
	color: #547183;
	font-size: 20px;
}

.item {

	list-style: none;
}

.label {
	margin-right: 10px;
}

.percentage {
	font-weight: 700;
}